<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSI.AAWS.ArCtbQuarterlyRpt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CSI.AAWS.ArCtbQuarterlyRpt.Properties.Settings>
            <setting name="CSI_AAWS_ArCtbQuarterlyRpt_RE2005_ReportExecutionService"
                serializeAs="String">
                <value>http://202.1.1.223/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="CSI_AAWS_ArCtbQuarterlyRpt_RS2005_ReportingService2005"
                serializeAs="String">
                <value>http://202.1.1.223/ReportServer/ReportService2005.asmx</value>
            </setting>
        </CSI.AAWS.ArCtbQuarterlyRpt.Properties.Settings>
    </applicationSettings>
</configuration>